/* src/App.css */
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.app-main {
  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center; /* 세로 중앙 */
  min-height: 100vh; /* 화면 전체 높이 사용 */
  background-color: #e9ecef; /* 부드러운 회색 배경 */
}
